venv/
.venv/
env/

__pycache__/
*.py[cod]
*$py.class

.env
.env.*

.idea/
.vscode/

build/
dist/
*.egg-info/

.pytest_cache/
.mypy_cache/
.cache/

.ipynb_checkpoints/

*.log
*.db
*.sqlite3
*.tmp
*.bak

.DS_Store
Thumbs.db
